<section>
​    <div class="row">
        <div class="add-product">
            <form ng-submit="ctrl.addProduct()">
                <div class="row">
                    <div class="twelve columns">
                        <label for="product-name">Product Name</label>
                        <input class="u-full-width" type="text" placeholder="Product Name" id="product-name" ng-model="ctrl.name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">

                        <label for="categories">Category</label>
                        <select class="u-full-width" ng-options="option as option.label for option in ctrl.categories" ng-model="ctrl.category" requiered>
                        
                    </div>
                    <div class="four columns">

                        <label for="image">Image URL</label>
                        <input class="image u-full-width" type="text" placeholder="img-image.jpg" id="image" ng-model="ctrl.image" required>

                    </div>
                    <div class="four columns">
                        <label for="price">Price ($)</label>
                        <input class="price u-full-width" type="number" id="price" placeholder="0" ng-model="ctrl.price" required>  
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <label for="description">Description</label>
                        <textarea class="u-full-width" name="description" id="description" placeholder="Enter description" ng-model="ctrl.description" required></textarea>
                    </div>
                </div>
                <input class="button-primary u-pull-right" type="submit" value="Add Product">
            </form>
​
        </div>
    </div>
    
    
    <hr>
    
    
    <div class="row">
        <div class="view-products twelve columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Image URL</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in ctrl.products">
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.image}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.description}}</td>
                        <td class="edit">Edit</td>
                        <td class="delete">Delete</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>

​

<div ui-view=""></div>

</section>