<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>ShopApp</title>
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Google Font - Lato -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Four<span class=
                    "sixty">Sixty</span> <span class="nav-slogan">/ The World's
                    Best Boards</span></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">All</a>
                    </li>
                    <li>
                        <a href="#">Skateboards</a>
                    </li>
                    <li>
                        <a href="#">Longboards</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="./">Register <span class=
                            "sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="../navbar-static-top/">Login</a>
                    </li>
                    <li>
                        <a href="../navbar-fixed-top/">Cart</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <!-- Containter -->
    <div class="container">

        <div class="row">
            <div class="cart-wrapper">
                <div class="col-sm-12">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover cart-table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Model 01</td>
                                    <td>1</td>
                                    <td>125</td>
                                </tr>
                                <tr>
                                    <td>Model 02</td>
                                    <td>1</td>
                                    <td>125</td>
                                </tr>
                                <tr>
                                    <td>Model 03</td>
                                    <td>1</td>
                                    <td>125</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /Row -->
                <button type="submit" class="btn btn-primary btn-continue">Continue Shopping</button>
                <button type="submit" class="btn btn-primary btn-checkout">Checkout</button>
            </div>
            <!-- /Cart Wrapper -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Container -->

    <!-- Footer -->
    <nav class="footer navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Four<span class=
                    "sixty">Sixty</span> <span class="nav-slogan">/ The World's
                    Best Boards</span></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="./">Admin <span class=
                            "sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="../navbar-static-top/">Inventory Control</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <div class="row footer-love">
                <p>Handcoded with love in Toronto by Danial, Eduard, James and Will at 460 King Street West during the 2016 Web Development Immersive Program at Baintstation TO. Built using Bootstrap / AngularJS / Node.js / HTML5 / CSS3</p>
            </div>
        </div>
        <!--/.container-fluid -->
    </nav>
    <!-- End UI View -->
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="../js/bootstrap.min.js">
    </script>
</body>

</html>