<!-- Container -->
<div class="container">

    <div class="checkout-wrapper">
        <div class="checkout-price">
            <h3>$200</h3>
        </div>
        <div class="row">
           <div class="col-sm-12">
            <form class="check-form m-top30">
                   <h3 class="payment-info">Payment Information</h3>
                   
                    <input type="text" class="form-control" id="formName" placeholder="Full Name">
                    <small class="text-muted" required></small>
                    
                    
                    <input type="text" class="form-control" id="formCard" placeholder="Credit Card Number">
                    <small class="text-muted" required></small>
                    
                    <input type="text" class="form-control" id="formDDYY" placeholder="DD/YY">
                    <small class="text-muted" required></small>
                    
                    <input type="text" class="form-control" id="formCVV" placeholder="CVV">
                    <small class="text-muted" required></small>
                    
                    <hr>
                    
                    <h3 class="payment-ships">Shipping</h3>
                    <span class="form-address">
                    <input type="text" class="form-control" id="formAddress" placeholder="Address">
                    <small class="text-muted" required></small>
                    
                    <input type="text" class="form-control" id="formAddress2" placeholder="Suite No">
                    <small class="text-muted"></small>
                    
                    <input type="text" class="form-control" id="formCity" placeholder="City">
                    <small class="text-muted" required></small>
                    
                    
                    <div class="col-sm-6 post-prov">
                    <input type="text" class="form-control" id="formAddress" placeholder="Province">
                    <small class="text-muted" required></small>
                    </div>
                    
                    <div class="col-sm-6 post-prov">
                    <input type="text" class="form-control" id="formAddress" placeholder="Postal Code">
                    <small class="text-muted" required></small>
                    </div>
                    </span>
                    
                    <button type="submit" class="btn btn-pay">PAY NOW</button>
                    
                    
                    
            </form>
            </div>
        </div>

    </div>

</div>
<!-- /container -->