        <!-- Footer -->
        <nav class="footer navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="shop">Four<span class="sixty">Sixty</span><span class="nav-slogan"> / The World's Best Boards</span></a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a ui-sref="admin">Admin <span class="sr-only">(current)</span></a></li>
                        <li><a ui-sref="admin">Inventory Control</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <div class="row footer-love">
                    <p>Handcoded with love in Toronto by Daniel, Eduard, James and Will at 460 King Street West during the 2016 Web Development Immersive Program at Baintstation TO. Built using Bootstrap / AngularJS / Node.js / HTML5 / CSS3</p>
                </div>
            </div>
            <!--/.container-fluid -->
        </nav>