    <div ui-view>      
    </div>

        <div class="container">
 
            <div class="row products">
                <div class="col-sm-4 product" ng-repeat="product in ctrl.products">
                    <div class="img-wrap">
                        <img ng-src="{{product.image}}" class="img-responsive">
                    </div>
                    <div class="details">
                        <a ui-sref="shop.product" ng-click="ctrl.productSrv.product = product"class="title">{{product.name}} <span class="price">/ {{product.price}}</span></a>
                    </div>
                </div>

            <!-- /products -->
        </div>
    </div>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->