    <div ui-view>      
    </div>

        <div class="container">
            <div class="row products">
                <div class="col-sm-4 product">
                    <div class="img-wrap">
                        <img src="assets/img/1.png " class="img-responsive">
                    </div>
                    <div class="details">
                        <a ui-sref="shop.product" class="title">The Six <span class="price">/ $120</span></a>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <img src="assets/img/2.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Vancouver <span class="price">/ $120</span></p>
                    </div>
                </div>


                <div class="col-sm-4 product">
                    <img src="assets/img/3.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Francisco <span class="price">/ $120</span></p>
                    </div>
                </div>
            </div>

            <div class="row products">
                <div class="col-sm-4 product">
                    <div class="img-wrap">
                        <img src="assets/img/4.png " class="img-responsive">
                    </div>
                    <div class="details">
                        <p class="title">The Scotia <span class="price">/ $120</span></p>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <img src="assets/img/9.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Alberta <span class="price">/ $120</span></p>
                    </div>
                </div>


                <div class="col-sm-4 product">
                    <img src="assets/img/6.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Alps <span class="price">/ $120</span></p>
                    </div>
                </div>
            </div>

            <div class="row products">
                <div class="col-sm-4 product">
                    <div class="img-wrap">
                        <img src="assets/img/13.png " class="img-responsive">
                    </div>
                    <div class="details">
                        <p class="title">The Mansfield <span class="price">/ $120</span></p>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <img src="assets/img/16.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Montreal <span class="price">/ $120</span></p>
                    </div>
                </div>


                <div class="col-sm-4 product">
                    <img src="assets/img/15.png " class="img-responsive ">
                    <div class="details">
                        <p class="title">The Monaco <span class="price">/ $120</span></p>
                    </div>
                </div>
            </div>
            <!-- /products -->

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->