 <!-- Backdrop -->
<div class="Modal-backdrop"></div>
    <div class="Modal-holder" autoscroll="false">

    <!-- Product-->
            <div class="row">
                <div class=".col-sm-6 .col-sm-offset-3 modal-wrap">
                    <div class="row">
                        <div class="col-sm-12 modal-bg">
                            <img src="assets/img/1-modal.jpg" class="img-responsive product-hero">
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/img/1-vert.png" class="img-responsive product-image">
                        </div>
                        <div class="col-sm-8 product-details">
                            <h2>{{ctrl.product.name}} <span class="modal-price">/ {{ctrl.product.price}}</span></h2>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <button ui-sref="shop" class="close-btn">Continue Shopping</button>
                            <button class="modal-btn">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /container -->
    </div>
<!-- Modal-->