<!DOCTYPE html>
<html lang="en">
<head>
​
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>The 460 House</title>
  <meta name="description" content="">
  <meta name="author" content="">
​
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
​
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
​
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
​
</head>
<body>
​
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div ui-view> </div>

  <div class="row">
      <div class="twelve columns">
          <button ng-click="ctrl.$state.go('shop.cart')">Open Cart</button>
      </div>
  </div>

<div ui-view="shop.cart"></div>
     
    <div class="container">
     <!--  Hero    -->
        <div class="hero">
           <div class="row">
               <h1>The Store</h1>
           </div>
            
        </div>
     
     <!-- ng-repeat="cat in ctrl.categories" -->
     <!--  Filter / Browse   -->
     <div class="filters">
        <div class="row">
            <div class="eight columns">
                <ul>

                    <li class="active" ng-click="ctrl.filter = '' ">Home</li>
                    <li class="active"  ng-repeat="cat in ctrl.categories"><a ng-click="ctrl.showProductsByCat(cat.label)" >{{cat.label}}</a></li>

                </ul>
            </div>   
            <div class="four columns u-pull-right">
                <form>
                    <input type="text" class="search" placeholder="Search For Products">
                </form>
            </div>
         </div>    
     </div>
     
     
     <!--  Products   -->
    <div class="row products-main">

      //Place a filter:
      <div class="four columns" ng-repeat="product in ctrl.products| filter:ctrl.filter">
          <div class="product-img">

              <img ng-src="{{product.image}}" style="width:400 height:345">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>{{product.name}}</p>
              </div>
              <div class="three columns price">
                  <p>$ {{product.price}}</p>
              </div>
          </div>
      </div>
      
 <!--      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/jar.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>{{ctrl.products[1].label}}</p>
              </div>
              <div class="three columns price">
                  <p>$ {{ctrl.products[1].price}}</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/cup.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>{{ctrl.products[2].label}}</p>
              </div>
              <div class="three columns price">
                  <p>$ {{ctrl.products[2].price}}</p>
              </div>
          </div>
      </div> -->
    </div>
    
    
     <div class="row products-main">
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/lamp.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/bottle.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/lamp-b.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
    </div>
 </div>
​
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>